import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Questrial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    margin: 0px;
    background-color: gray;
}

h1 {
    color: rgb(40, 5, 95);
}

.content {
    position: fixed;
    bottom: 70px;
    background: rgba(0, 0, 0, 0.3);
    color: #f1f1f1;
    width: 70%;
    align-content: left;
    justify-items: left;
    padding: 10px;
  }

.screen {
    cursor: pointer;
    width: 80%;
    height: 70%;
    object-fit: cover;
    background-color: black !important;
}

.controls {
    background-color: rgba(0,0,0,0.6);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 79%;
    padding: 10px;
}

.btn {
    border: 0;
    cursor: pointer;
    background: transparent;
}

.btn:focus {
    outline: 0;
}

.fa-play {
    color: rgb(68, 205, 50);
}

.fa-stop {
    color: tomato;
}

.fa-pause, .fa-volume-up, .fa-compress-alt, .fa-expand-alt {
    color: thistle;
}

.fa-volume-mute {
    color: rgb(165, 38, 7);
}

.fa-backward, .fa-fast-backward, .fa-forward, .fa-fast-forward {
    color: rgb(46, 189, 94);
}

span.timestamp {
    color: white;
    font-weight: bold;
    margin-left: 10px;
}

/* Adding Media Query to make our applicaiton responsive*/
@media(max-width: 800px) {
    .screen, .controls {
        width: 90%;
    }
}